/* TechAndALL.com - FREE Socical Media Float Button CSS */
/* Get FREE PSD and Templates @ http://www.techandall.com */
/* TechAndALL.com - FREE Socical Media Float Button CSS */

.flot_bar {

    left: 0;
    margin: 340px 0;
    position: fixed; border-radius:5px;
    width: 61px;
    z-index: 9999; 


}
.flot_bar ul {
    margin: 0;
    padding: 2px; 
    position: relative;border-radius:8px; 
    width: 100%;
}
.flot_bar ul li {
    display: block;
    list-style: none outside none;
    margin: -20px;
    padding: 0;
    position: relative;
    transition: background 0.2s linear 0s;
    width: 100%;
}
.flot_bar ul li a {
    color: #EEEEEE;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: normal;
    height: 61px;
    line-height: 61px;
    text-decoration: none;
}
.flot_bar ul li ul li a {
    background-image: none;
}
.flot_bar li a:active {
    color: #888888;
}
.flot_bar i {
    font-size: 17px;
    padding: 20px;
}
.flot_bar ul li:hover i {
    font-size: 22px;
    padding: 18px;
}
.flot_bar span.main_links_span {
    font-size: 14px;
    line-height: 40px;
    position: absolute;
    right: 9px;
    top: 0;
}
.flot_bar ul li ul {
    display: block;
    left: 100%;
    opacity: 0;
    position: absolute;
    top: -1px;
    transition: opacity 0.2s ease 0s;
    visibility: hidden;
    width: 180px;
    z-index: 1;
}
.flot_bar ul li ul li {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    border-top: 1px solid #E7E7E7;
    display: block;
    float: none;
    position: relative;
    transition: background 0.2s linear 0s;
}
.flot_bar ul ul li:last-child, .flot_bar ul ul li:first-child {
    border-radius: 0 0 0 0;
}
.flot_bar ul ul li:first-child {
    border-top-right-radius: 7px;
}
.flot_bar ul ul li:last-child {
    border-bottom: 1px solid #E7E7E7;
}
.flot_bar ul ul ul li:last-child {
    border-bottom-left-radius: 7px;
}
.flot_bar ul ul ul ul li:last-child {
    border-bottom-right-radius: 7px;
}
.flot_bar ul ul li a {
    color: #777777;
    font-size: 13px;
    height: auto;
    line-height: 38px;
    padding-left: 30px;
    width: 100%;
}
.flot_bar ul ul li:hover {
    background: none repeat scroll 0 0 #F3F3F3;
}
.flot_bar ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

